{#
/**
 * @file shoutbox.html.twig
 * Default theme implementation to present Shoutbox data.
 *
 * This template is used when viewing Shoutbox pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_shoutbox()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('shoutbox') }}>
    {% if content.shouts | length == 0 %}
      <section>
          <p><em>{{ 'No message for now' | trans }}</em></p>
      </section>
    {% else %}
      <div class="shouts">
        {{- content -}}
      </div>
    {% endif %}
  <section>
    {% if form.data %}
      {{ form.data }}
    {% else %}
      <p>{{ 'Login to post message' | trans }}</p>
    {% endif %}
  </section>
</div>
