{#
/**
 * @file shoutbox.html.twig
 * Default theme implementation to present Shoutbox data.
 *
 * This template is used when viewing Shoutbox pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_shoutbox()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('shoutbox') }}>
    {% if content.shouts | length == 0 %}
      <section>
          <p><em>{{ 'No message for now' | trans }}</em></p>
      </section>
    {% else %}
      <div class="shouts">
        <div class="js-shouts-wrapper">
          {{- content.shouts -}}
        </div>
        <div class="show-more">
          {% if has_mode_shouts %}
            <p><a href="#" data-shoutbox="{{ shoutbox_id }}" data-range="{{ range }}" data-offset="{{ offset }}" class="js-load-shouts link-load-shouts">{{ 'Load older messages' | trans }}</a></p>
          {% endif %}
        </div>
      </div>
    {% endif %}
  <section>
    {% if form.data %}
      {{ form.data }}
    {% else %}
      <p>{{ 'Login to post message' | trans }}</p>
    {% endif %}
  </section>
</div>
